/*   UNIVERSAL RULES   */
* {
  font-family: 'Roboto', sans-serif;
}

/*   BASIC RULES   */
body {
  background: #fff;
}

/*   CLASS RULES   */
.mainContent {
  height: 100%;
  width: 782px;
}

.mainHeader {
  height: 123px;
  background: #fafafa;
  border-bottom: 1px solid #ebebeb
}

.mainHeader img {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding-left: 25.5px;
    padding-right: 12px;
    padding-top: 24px;
}

.searchBar input {
  height: 44px;
  width: 632px;
  padding-left: 16px;
  padding-right: 9px;
  padding-top: 6px;
  padding-bottom: 3.5px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  border:  #d7d7d7;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.19), 0px .6px .6px rgba(0,0,0,0.23);
  border-radius: 3px;
}

.searchBar {
  margin-left: 150px;
  position: absolute;
  top: 20px;
}

.navigation ul {
  display: flex;
  list-style: none;
  width: 632px;
  padding-left: 152px;
  color: #808080;
}

.navigation li {
  justify-content: space-around;
  padding: 15px;
  margin-top: 7px;

  font-size: 13px;
}

.settings {
  margin-left: 100px;
}

.all {
  font-weight: 700;
  border-bottom: solid 3px #4286f4;
  color: #4286f4;
}

.results {
  color: #808080;
  margin-left: 170px;
  font-size: 13px;
}

.topHeadline {
  margin-left: 170px;
  margin-top: 25px;
}

.topStories {
  display: flex;
  margin-left: 170px;
}

.topStories img {
  width: 120%;
  margin-left: -27px;
  margin-top: -24px;
  height: 135px;
}

.topStories div {
  height: 288px;
  width: 213px;
  margin: 2px;
  border: solid 1px #ddd;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.19), 0px .6px .6px rgba(0,0,0,0.23);
}

.topStories h4 {
  color: #0454d8;
  width: 88%;
  text-align: left;
  margin-left: 6%;
  font-size: 16px;
  margin-top: 15px;
  line-height: 23px;
  height: 110px;
}

.topStories p {
  margin-left: 6%;
  color: #999999;
  font-size: 13px;
}

.topStories a{
  color: green;
}

.readMore {
  margin-left: 170px;
  margin-top: 10px;
  color: #0454d8
}
